---
import DocsLayout from "@/layouts/DocsLayout.astro";
import { getCollection } from "astro:content";

const examples = (await getCollection("example")).sort((a, b) => {
  return a.data.index < b.data.index ? -1 : 1;
});
---

<DocsLayout>
  <div
    class="p-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-6"
  >
    {
      examples.map((example) => (
        <a
          href={`/ratatui-kit-website/example/${example.id}`}
          class="card bg-base-100 card-border border-base-300 card-xs md:card-sm shadow-sm cursor-pointer hover:shadow-lg transition-shadow"
        >
          <figure class="p-4">
            <img
              src={example.data.image.src}
              alt={example.data.title}
              class={`w-full aspect-[2.5] object-fill rounded-sm`}
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="text-lg">{example.data.title}</h2>
          </div>
        </a>
      ))
    }
  </div>
</DocsLayout>
